= simple_form_for(@ship_item) do |f|
	.form-inputs
		= f.input :ship_id, :collection => PlayerShip.all, :label_method => :player_and_ship, :label => "Ship name"
		= f.input :item_id, :collection => Item.all, :label_method => :name, :label => "Item name"
		= f.input :quantity
	.form-actions
		= f.button :submit
