%h1 Listing Planets
%table.table.table-striped
  %tr
    %th name
    %th{:colspan => "3"}
  - @planets.each do |planet|
    %tr
      %td= planet.name
      %td= link_to 'Show', planet, :class => "btn btn-default"
      %td= link_to 'Edit', edit_planet_path(planet), :class => "btn btn-default"
      %td= link_to 'Destroy', planet, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"
%br/
= link_to 'New Planet', new_planet_path, :class => "btn btn-success"
