= simple_form_for(@player) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    = f.input :credits
    = f.input :ship, :collection => Ship.all, :label_method => :name
  .form-actions
    = f.button :submit
