= simple_form_for(@player) do |f|
  = f.error_notification
  .form-inputs
    = f.input :Name
    = f.input :Credits
    = f.input :Ship, :collection => Ship.all
  .form-actions
    = f.button :submit
