%h1 Listing Players
%table.table.table-striped
  %tr
    %th Name
    %th Credits
    %th Ship
    %th{:colspan => "3"}
  - @players.each do |player|
    %tr
      %td= player.Name
      %td= player.Credits
      %td
        - if player.ship
          = player.ship.Name
        - else
          None
      %td= link_to 'Show', player, :class => "btn btn-default"
      %td= link_to 'Edit', edit_player_path(player), :class => "btn btn-default"
      %td= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"
%br/
= link_to 'New Player', new_player_path, :class => "btn btn-success"
