%h3
	%strong Ship Name:
	= @player_ship.ship.Name

%h3
	%strong Player Name:
	= @player_ship.player.Name

%h3
	%strong Cargo Capacity:
	= @player_ship.cargo_total
%hr
%h5 Items On Board

%table.table.table-striped
	%tr
		%th Item Name
		%th Quantity
	- @ship_items.each do |item|
		%tr
			%td= Item.find(item.item_id).Name
			%td= item.quantity

%h6 Cargo Capacity: #{ @player_ship.cargo_capacity }
%h6 Cargo Total: #{ @player_ship.cargo_total }
%h6 Within Limits: #{ @player_ship.capacity_check }

=link_to "Add new item", new_ship_item_path(@player_ship), :class => "btn btn-success"